<%- include('../partials/site-head', { title: 'Headline Agentur | Impressum' }) %>
<%- include('../partials/site-header') %>
<section class="breadcrumb-wrapper">
  <div class="container">
    <div class="page-heading">
      <h1>Impressum</h1>
      <p>Headline Agentur Impressum</p>
    </div>
  </div>
</section>
<section class="section-padding"><div class="container"><div class="codex-contact-items"><div class="contact-content"><h3>Angaben gemäß § 5 TMG</h3><p><strong>Headline GP GmbH</strong><br/>Hopfenmarkt 33<br/>20457 Hamburg<br/>Deutschland<br/><br/>Handelsregister: Amtsgericht Hamburg<br/>Handelsregister-Nummer: HRB 155215<br/>Stammkapital: 25.000 EUR<br/><br/>Geschäftsführung:<br/>Dr. Elias Börgmann-Dehina<br/><br/>Kontakt:<br/>E-Mail: <a href="mailto:info@headline-agentur.com">info@headline-agentur.com</a><br/>Telefon: <a href="tel:+491520849839">+49 1520 8498 39</a></p><h4>Haftung für Inhalte</h4><p>Die Inhalte dieser Seiten wurden mit größter Sorgfalt erstellt. Für Richtigkeit, Vollständigkeit und Aktualität wird jedoch keine Gewähr übernommen.</p></div></div></div></section>
<%- include('../partials/site-footer') %>
